@import "main.css";
/* FONTS*/
@font-face {
  font-family: "Arvil Sans";
  src: url('../font/arvil_sans-webfont.eot');
  src: url('../font/arvil_sans-webfont.eot?#iefix') format('embedded-opentype'), url('../font/arvil_sans-webfont.svg#arvil_sansregular') format('svg'), url('../font/arvil_sans-webfont.woff') format('woff'), url('../font/arvil_sans-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Junction Regular';
  src: url('../font/Junction-webfont.eot');
  src: url('../font/Junction-webfont.eot?#iefix') format('embedded-opentype'), url('../font/Junction-webfont.woff') format('woff'), url('../font/Junction-webfont.ttf') format('truetype'), url('../font/Junction-webfont.svg#junctionregularRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
p,
ul,
li {
  color: #3d424c;
  margin-bottom: 0px;
  font-family: "Junction Regular";
  font-size: 10pt;
}
h1,
h2,
h3 {
  font-family: "Arvil Sans";
}
body {
  background: url(../img/berlin.jpg) 0px 0px no-repeat fixed #e2c195;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div.block,
h2 {
  padding: 40px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
header {
  padding: 40px 140px ;
  text-align: justify;
  position: relative;
  margin-top: 100px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
header p {
  font-size: 12pt;
  font-weight: lighter;
  line-height: 1.65em;
}
#intro {
  zoom: 1;
}
#intro:before {
  content: '';
  display: block;
}
#intro:after {
  content: '';
  display: table;
  clear: both;
}
#intro .left {
  float: left;
  width: 65%;
}
#intro .right {
  float: left;
  width: 35%;
}
ul.skills {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.skills li {
  display: inline-block;
  width: 32%;
  margin: 0px 0px 10px 0px;
  vertical-align: top;
  font-family: "Arvil Sans";
  text-align: center;
  font-size: 20px;
}
ul.skills li:before {
  content: "";
  display: block;
  background: url(../img/bulbs.png) 0px 0px no-repeat;
  width: 53px;
  height: 75px;
  margin: 0px auto 5px auto;
}
ul.skills li.skill1:before {
  background-position: -220px 0px;
}
ul.skills li.skill2:before {
  background-position: -165px 0px;
}
ul.skills li.skill3:before {
  background-position: -110px 0px;
}
ul.skills li.skill4:before {
  background-position: -55px 0px;
}
ul.skills li.skill5:before {
  background-position: 0px 0px;
}
ul.skills li.skill6:before {
  background-position: -275px 0px;
}
ul.skills li.skill99:before {
  background-position: -330px 0px;
}
ul.languages {
  list-style: none;
  margin: 0 0 0 5px;
  padding: 0;
}
ul.languages li {
  margin: 0px;
  font-family: "Arvil Sans";
  font-size: 20px;
  margin-bottom: 23px;
  white-space: nowrap;
}
ul.languages li:after {
  content: "";
  display: inline-block;
  background: url(../img/language.png) 0px 0px repeat-x;
  width: 18px;
  height: 15px;
  vertical-align: baseline;
  margin-left: 5px;
}
ul.languages li.skill1:after {
  width: 18px;
}
ul.languages li.skill2:after {
  width: 36px;
}
ul.languages li.skill3:after {
  width: 54px;
}
ul.languages li.skill4:after {
  width: 72px;
}
ul.languages li.skill5:after {
  width: 90px;
}
#photo {
  width: 120px;
  height: 120px;
  background: white;
  padding: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0px;
  right: 170px;
  transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  z-index: 100;
  transition: all .7s ease;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
}
#photo:hover {
  width: 320px;
  height: 320px;
  top: 40px;
  box-shadow: 0px 6px 12px 4px rgba(0, 0, 0, 0.2);
  transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}
@media only screen and (max-width: 767px) {
  #photo {
    width: 100px;
    height: 100px;
    padding: 6px;
    top: 20px;
    right: 20px;
  }
}
.main aside h3 {
  margin: 5px 0px 10px 0px;
  color: #5a433d;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  font-size: 36px;
}
.main aside h4,
.main aside li {
  font-family: "Junction Regular";
  color: #78625b;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}
.main aside a,
.main aside a:visited {
  color: #78625b;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
  text-decoration: none;
  margin: 0px;
}
.main aside a:hover,
.main aside a:visited:hover {
  color: #5a433d;
}
.main aside h4 {
  margin: 10px 0px 10px 0px;
  letter-spacing: 0px;
  font-size: 10pt;
}
.main aside ul {
  margin: 0px;
  padding: 0;
}
.main aside ul li {
  margin: 5px 0px;
  list-style: none;
  font-size: 10pt;
}
.main aside ul.nav {
  margin-top: 20px;
}
.main aside ul.nav li {
  opacity: .8;
}
.main aside ul.nav li:hover {
  opacity: 1;
}
i.icon16 {
  width: 16px;
  height: 16px;
  background: url(../img/icons16.png) 0px 0px no-repeat transparent;
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}
i.icon16.linkedin {
  background-position: 0px 0px;
}
i.icon16.phone {
  background-position: 0px -16px;
}
i.icon16.email {
  background-position: 0px -32px;
}
i.icon16.location {
  background-position: 0px -48px;
}
i.icon16.work {
  background-position: 0px -80px;
}
i.icon16.education {
  background-position: 0px -96px;
}
i.icon16.editing {
  background-position: 0px -112px;
}
i.icon16.publications {
  background-position: 0px -128px;
}
i.icon16.speaking {
  background-position: 0px -144px;
}
i.icon16.conferences {
  background-position: 0px -160px;
}
i.icon16.fun {
  background-position: 0px -176px;
}
#clip {
  width: 24px;
  height: 44px;
  background: url(../img/clip.png) center center no-repeat transparent;
  margin-top: -58px;
  z-index: 200;
  right: 160px;
  margin-right: 60px;
  position: absolute;
}
.sectionblock {
  margin-bottom: 40px;
}
.main header h1 {
  color: #3b5f90;
  text-align: center;
  font-size: 44px;
  margin-top: 0px;
}
.main header h1 i {
  color: #3d424c;
  font-style: normal;
  display: block;
  font-size: .7em;
  line-height: 1.75em;
}
.main article h2 {
  padding: 20px 40px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 32px;
  line-height: 30px;
  font-weight: lighter;
  color: white;
  margin: 20px 0px;
  background-color: rgba(59, 95, 144, 0.9);
}
.main article h2:hover {
  background: url(../img/arrows.png) center center no-repeat #3b5f90;
  cursor: pointer;
}
.main article h2:after {
  float: right;
  content: "";
  margin-top: -8px;
  background: url(../img/icons48.png) 0px 0px no-repeat transparent;
  width: 48px;
  height: 48px;
  margin-right: -10px;
}
a#work h2:after {
  background-position: 0px 0px;
}
a#education h2:after {
  background-position: 0px -48px;
}
a#editing h2:after {
  background-position: 0px -96px;
}
a#publications h2:after {
  background-position: 0px -144px;
}
a#speaking h2:after {
  background-position: 0px -192px;
}
a#conferences h2:after {
  background-position: 0px -240px;
}
a#fun h2:after {
  background-position: 0px -288px;
}
div.block {
  padding: 0px;
  background: url(../img/blue.png) top left repeat-y transparent;
}
div.block div.date {
  float: left;
  color: white;
  font-family: "Arvil Sans";
  font-size: 24px;
  width: 70px;
  text-align: right;
  padding-top: 20px;
}
div.block h3,
div.block ul,
div.block p {
  background: rgba(255, 255, 255, 0.85);
  margin: 0px 0px 0px 90px;
  padding: 20px;
}
div.block ul {
  padding-top: 0px;
  padding-left: 40px;
}
div.block p {
  padding-top: 0px;
}
div.block h3 {
  color: #222;
  font-size: 28px;
  line-height: 1.2em;
  padding-bottom: 10px;
}
div.block h3 i {
  color: #91a6c3;
  font-style: normal;
}
div.block h3 i:not(.break):before {
  content: "• ";
}
div.block h3 i.break {
  display: block;
}
footer {
  text-align: center;
  font-size: 9pt;
  color: #78625b;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
  margin: 0;
}
footer a {
  text-decoration: none;
  color: #5a433d;
}
footer a:hover {
  text-decoration: underline;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 767px) {
  header {
    padding: 40px 20px;
  }
  .sectionblock {
    display: none;
  }
  #intro .left {
    float: none;
    background: red;
  }
  .main aside {
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .main aside h3,
  .main aside h4 {
    display: none;
  }
  .main aside li {
    display: inline-block;
    padding: 0px 10px;
  }
  .main aside ul {
    margin: 0px auto;
    text-align: center;
  }
  .main aside ul.nav {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .main article {
    float: left;
    width: 75%;
    padding: 0px;
    margin: 0px;
  }
  .main aside {
    float: left;
    width: 25%;
    padding: 0px;
    height: 0px;
  }
  .main aside .inner {
    margin-right: 30px;
    width: 25%;
    display: block;
    float: right;
    box-sizing: border-box;
    padding-left: 20px;
  }
}
@media only screen and (min-width: 940px) {
  .wrapper {
    width: 900px;
    margin: 0px auto;
  }
  .main aside {
    width: 900px;
  }
  .main aside .inner {
    margin-right: 0px;
  }
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  ul.nav {
    display: none;
  }
  aside {
    margin: 0;
  }
  aside h3,
  aside h4 {
    display: none;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3,
  a.sectionhead {
    page-break-after: avoid;
  }
}
