@import "main.css";

@gray: rgb(61, 66, 76);
@blue: rgb(59, 95, 144);
@light-blue: rgb(145, 166, 195);
@green: rgb(143, 191, 45);
@dark-green: rgb(109, 143, 39);
@light-green: rgb(195, 208, 148);
@lighter-green: rgb(240, 244, 228);
@brown: rgb(90, 67, 61);
@light-brown: rgb(120, 98, 91);
/* FONTS*/

.clearfix() {
  zoom: 1;
  &:before { content: ''; display: block; }
  &:after { content: ''; display: table; clear: both; }
}

@font-face
    {
    font-family: "Arvil Sans";
    src: url('../font/arvil_sans-webfont.eot');
    src:
         url('../font/arvil_sans-webfont.eot?#iefix') format('embedded-opentype')
       , url('../font/arvil_sans-webfont.woff') format('woff')
       , url('../font/arvil_sans-webfont.ttf') format('truetype')
       , url('../font/arvil_sans-webfont.svg#arvil_sansregular') format('svg')
       ;
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Junction Regular';
    src: url('../font/Junction-webfont.eot');
    src: url('../font/Junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Junction-webfont.woff') format('woff'),
         url('../font/Junction-webfont.ttf') format('truetype'),
         url('../font/Junction-webfont.svg#junctionregularRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
p, ul, li
    {
    color: @gray;
    margin-bottom: 0px;
    font-family: "Junction Regular";
    font-size: 10pt;
    }

h1, h2, h3
    {
    font-family: "Arvil Sans";
    font-weight: lighter;
    }

body
    {
    background: url(../img/berlin.jpg) 0px 0px no-repeat  fixed rgb(226,193,149);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

div.block, h2
    {
    padding: 40px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.3);
    margin-bottom: 20px;
    }

header
    {
    padding: 40px 140px ;
    text-align: justify;
    position: relative;
    margin-top: 100px;
    -webkit-hyphens: auto;
    p
        {
        font-size: 12pt;
        font-weight: lighter;
        line-height: 1.65em;
        }
    -moz-hyphens: auto;
    hyphens: auto;
    }

#intro
    {
    .clearfix();
    .left
        {
        float: left;
        width: 65%;
        }
    .right
        {
        float: left;
        width: 35%;
        }
    }
ul.skills
    {
    list-style: none;
    margin: 0;
    padding: 0;
    li
        {
        display: inline-block;
        width: 32%;
        margin: 0px 0px 10px 0px;
        vertical-align: top;
        font-family: "Arvil Sans";
        font-weight: lighter;
        text-align: center;
        font-size: 20px;
        &:before
            {
            content: "";
            display: block;
            background: url(../img/bulbs.png) 0px 0px no-repeat;
            width: 53px;
            height: 75px;
            margin: 0px auto 5px auto;
            }
        &.skill1:before { background-position: 4*-55px 0px;}
        &.skill2:before { background-position: 3*-55px 0px;}
        &.skill3:before { background-position: 2*-55px 0px;}
        &.skill4:before { background-position: 1*-55px 0px;}
        &.skill5:before { background-position: 0*-55px 0px;}
        &.skill6:before { background-position: 5*-55px 0px;}
        &.skill99:before { background-position: 6*-55px 0px;}
        }
    }

ul.languages
    {
    list-style: none;
    margin: 0 0 0 5px;
    padding: 0;
    li
        {
        margin: 0px;
        font-family: "Arvil Sans";
        font-weight: lighter;
        font-size: 20px;
        margin-bottom: 23px;
        white-space: nowrap;
        &:after
            {
            content: "";
            display: inline-block;
            background: url(../img/language.png) 0px 0px repeat-x;
            width: 18px;
            height: 15px;
            vertical-align: baseline;
            margin-left: 5px;
            }
        &.skill1:after { width: 1*18px;}
        &.skill2:after { width: 2*18px;}
        &.skill3:after { width: 3*18px;}
        &.skill4:after { width: 4*18px;}
        &.skill5:after { width: 5*18px;}
        }
    }

#photo
    {
    width: 120px;
    height: 120px;
    background: white;
    padding: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 3px rgba(0,0,0,.4);
    position: absolute;
    top: 0px;
    right: 170px;
    transform:         rotate(10deg);
        -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
         -o-transform: rotate(10deg);
       -moz-transform: rotate(10deg);
    z-index: 100;
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
       -moz-transition: all .7s ease;
        -ms-transition: all .7s ease;
         -o-transition: all .7s ease;
    &:hover
        {
        width: 320px;
        height: 320px;
        top: 40px;
        box-shadow: 0px 6px 12px 4px rgba(0,0,0,.2);
        transform:         rotate(-2deg);
            -ms-transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
             -o-transform: rotate(-2deg);
           -moz-transform: rotate(-2deg);
        }
    }

.main aside
    {
    h3
        {
        margin: 5px 0px 10px 0px;
        color: @brown;
        text-shadow: 0px 1px 0px rgba(255,255,255,.5);
        font-size: 36px;
        }
    h4, li
        {
        font-family: "Junction Regular";
        color: @light-brown;
        text-shadow: 0px 1px 0px rgba(255,255,255,.3);
        }
    a, a:visited
        {
        color: @light-brown;
        text-shadow: 0px 1px 0px rgba(255,255,255,.3);
        text-decoration: none;
        margin: 0px;
        &:hover
            {
            color: @brown;
            }
        }
    h4
        {
        margin: 10px 0px 10px 0px;
        letter-spacing: 0px;
        font-size: 10pt;
        }
    ul
        {
        margin: 0px;
        padding: 0;
        li
            {
            margin: 5px 0px;
            list-style: none;
            font-size: 10pt;
            }
        &.nav
            {
            margin-top: 20px;
            li
                {
                opacity: .8;
                &:hover
                    {
                    opacity: 1;
                    }
                }
            }
        }
    }

i.icon16
    {
    width: 16px;
    height: 16px;
    background: url(../img/icons16.png) 0px 0px no-repeat transparent;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    &.linkedin     { background-position: 0px 0*-16px; }
    &.phone        { background-position: 0px 1*-16px; }
    &.email        { background-position: 0px 2*-16px; }
    &.location     { background-position: 0px 3*-16px; }
    &.work         { background-position: 0px 5*-16px; }
    &.education    { background-position: 0px 6*-16px; }
    &.editing      { background-position: 0px 7*-16px; }
    &.publications { background-position: 0px 8*-16px; }
    &.speaking     { background-position: 0px 9*-16px; }
    &.conferences  { background-position: 0px 10*-16px; }
    &.fun          { background-position: 0px 11*-16px; }
    }


#clip
    {
    width: 24px;
    height: 44px;
    background: url(../img/clip.png) center center no-repeat transparent;
    margin-top: -58px;
    z-index: 200;
    right: 160px;
    margin-right: 60px;
    position: absolute;
    }

.sectionblock
    {
    margin-bottom: 40px;
    }

.main header h1
    {
    color: @blue;
    text-align: center;
    font-size: 44px;
    margin-top: 0px;
    i
        {
        color: @gray;
        font-style: normal;
        display: block;
        font-size: .7em;
        line-height: 1.75em;
        }
    }

.main article h2
    {
    padding: 20px 40px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.3);
    font-size: 32px;
    line-height: 30px;
    font-weight: lighter;
    &:hover
        {
            background: url(../img/arrows.png) center center no-repeat @blue;
            cursor: pointer;
        }
    color: white;
    margin: 20px 0px;
    background-color: fadeout(@blue, 10%);
    &:after
        {
        float: right;
        content: "";
        margin-top: -8px;
        background: url(../img/icons48.png) 0px 0px no-repeat transparent;
        width: 48px;
        height: 48px;
        margin-right: -10px;
        }
    }

a#work h2:after { background-position: 0px 0 * -48px; }
a#education h2:after { background-position: 0px 1 * -48px; }
a#editing h2:after { background-position: 0px 2 * -48px; }
a#publications h2:after { background-position: 0px 3 * -48px; }
a#speaking h2:after { background-position: 0px 4 * -48px; }
a#conferences h2:after { background-position: 0px 5 * -48px; }
a#fun h2:after { background-position: 0px 6 * -48px; }

div.block
    {
    padding: 0px;
    background: url(../img/blue.png) top left repeat-y transparent;
    @datewidth: 70px;
    div.date {
        float: left;
        color: white;
        font-family: "Arvil Sans";
        font-weight: lighter;
        font-size: 24px;
        // line-height: 28px;
        width: @datewidth;
        text-align: right;
        padding-top: 20px;
    }
    h3, ul, p
        {
        background: fadeout(white, 15%);
        margin: 0px 0px 0px (@datewidth + 20);
        padding: 20px;
        }
    ul
        {
        padding-top: 0px;
        padding-left: 40px;
        }
    p
        {
        padding-top: 0px;
        }

    h3
        {
        color: #222;
        font-size: 28px;
        line-height: 1.2em;
        padding-bottom: 10px;
        i
            {
            color: @light-blue;
            font-style: normal;
            &:not(.break):before
                {
                content: "• ";
                }
            &.break
                {
                display: block;
                }
            }
        }
    }

footer
    {
    text-align: center;
    font-size: 9pt;
    color: @light-brown;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3);
    margin: 0;
    a
        {
        text-decoration: none;
        color: @brown;
        &:hover
            {
            text-decoration: underline;
            }
        }
    }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 460px)
    {
    .wrapper
        {
        width: 440px;
        padding: 0px 20px 0px 0px;
        margin: 0px auto;
        }
    }
@media only screen and (max-width: 767px)
    {
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -o-background-attachment: fixed;
    background-attachment: fixed;

    div.block
        {
        background: white;
        div.date
            {
            br {display:none}
            float: none;
            background: #97a9bf;
            padding: 7px 20px 5px 20px;
            width: auto;
            text-align: left;
            height: auto;
            }
        h2, h3, h4, p, ul
            {
            margin-left: 0px;
            }
        }
    #photo
        {
        width: 100px;
        height: 100px;
        padding: 6px;
        top: -10px;
        right: 20px;
        }
    header
        {
        margin-top: 20px;
        padding: 0 20px 40px 20px;
        }
    #clip
        {
        right: -25px;
        top: 35px;
        }
    .sectionblock
        {
        display: none;
        }
    #intro
        {
        .left
            {
            float: none;
            width: 100%;
            }
        .right
            {
            display: none;
            }
        }

    .main aside
        {
        h3, h4 {display: none;}
        li {display: inline-block; padding: 0px 10px; }
        ul {margin: 0px auto; text-align: center;}
        ul.nav {display: none;}
        margin-top: -20px;
        margin-bottom: 20px;
        }
    }

@media only screen and (min-width: 768px)
    {
    .main
        {
        article
            {
            float: left;
            width: 75%;
            padding: 0px;
            margin: 0px;
            }
        aside
            {
            float: right;
            width: 25%;
            padding: 0px;
            .inner
                {
                    padding: 0;
                    margin: 0 0 0 20px;
                }
            }
        }
    }

@media only screen and (min-width: 940px)
    {
    .wrapper
        {
        width: 900px;
        // padding: 20px 0px;
        margin: 0px auto;
        }
    // .main aside
    //     {
    //     width: 900px;
    //     .inner
    //         {margin-right: 0px;}
    //     }
    }

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }
    ul.nav {display: none; }
    aside
        {
            margin: 0;
        h3, h4 { display: none; }
        }


    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3, a.sectionhead {
        page-break-after: avoid;
    }
}

